#canvas {
    border: 1px solid black;
    width: 281px;
    height: 500px;
}

body {
    color: white;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle at 80% 80%, RGBA(53, 97, 149, 1.00) 0%, transparent), radial-gradient(circle farthest-corner at 20% 20%, RGBA(101, 77, 143, 1.00) 0%, RGBA(54, 70, 132, 1.00) 70%);
}

.floatbar {
    background: rgba(13, 21, 56, 0.36);
    height: 100%;
    width: 220px;
    float: left;
}

.floatfont {
    width:220px;
    height:80px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}